
mat-toolbar{

    background-color: rgb(9, 170, 143);
    width:80%;
    margin-left: 10%;
    margin-right: 10%;
    color:white;
    
}
.space{
    flex:1 1 auto;
}
header{
    width:100%;
    background-color: rgb(9, 170, 143);
}
