nav{
    background-color: #FFFFFF;
    box-shadow: 0 3px 12px 0 rgba(0,0,0,.08);
    z-index: 1;
    width:100%;
}

ul{
    width:80%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: center;
}
ul li {
    list-style-type: none;
    padding: 15px;
   
}
ul li a{
    text-decoration: none;
    color: rgb(10, 12, 0);
    font-size: 12px;
}
@media only screen and (max-width: 600px) {
    ul li  {
        list-style-type: none;
        font-size: 10px;;
        overflow-x: hidden;
       
    }
  }

   