<section id="post">
    <mat-card class="card" routerLink='/livenews' >
      <mat-card-header >
        <div mat-card-avatar class="example-header-image"  ></div>
        <mat-card-title >Live</mat-card-title>
        <mat-card-subtitle><br></mat-card-subtitle>
      </mat-card-header>
  
      <mat-card-content>
          
      </mat-card-content>
   
    </mat-card>
<mat-card class="card" routerLink='/science' >
    <mat-card-header >
      <div mat-card-avatar class="example-header-image"  ></div>
      <mat-card-title >Science</mat-card-title>
      <mat-card-subtitle><br></mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        
    </mat-card-content>
 
  </mat-card>

  <mat-card class="card"  routerLink='/technology'  >
    <mat-card-header >
      <div mat-card-avatar class="example-header-image"  ></div>
      <mat-card-title> Technology</mat-card-title>
      <mat-card-subtitle><br></mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        
    </mat-card-content>
  
  </mat-card>

  <mat-card class="card" routerLink="/sports">
    <mat-card-header >
      <div mat-card-avatar class="example-header-image"  ></div>
      <mat-card-title > Sports</mat-card-title>
      <mat-card-subtitle><br></mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        
    </mat-card-content>
  </mat-card>

</section>