
<div class="display">

        <div class="box"
        fxLayout
        fxLayout.xs="column"
        fxLayoutAlign="center"
        fxLayoutGap="10px"
        fxLayoutGap.xs="0">
     <div class="item item-1" fxFlex="15%">
         
       </div>
     <div class="item item-2" fxFlex="20%" fxFlexOrder="3">
      <mat-card>
        
        <mat-card-header>Live News</mat-card-header>
        <mat-card-content></mat-card-content>
      </mat-card>
      <mat-card>Latest Article</mat-card>
     
     </div>
     
     <div class="item item-3" fxFlex>
        
                 
   
   </div>
   
   
</div>
